<div style="margin-bottom: 30px; margin-right: 10px;">
<h2 style="width:100%">
<input type = "text" align="center" size="100%" name="search" [(ngModel)]="searchText" placeholder ="Search  Product " />

</h2>
</div>

<div  class="row card-deck text-center" >
 

  <div *ngFor="let productInfo of page?.content | filter:searchText" class="col-lg-4 " >
    <div class="card mb-3"  style="border-radius:15% ; border:5px" >
      <img height="100px"  style="height: 300px; border-radius:15%" class="card-img-top" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
      <div class="card-body">
        <h3>
        <h4 class="card-title ">{{productInfo.productName}}</h4>
      </h3>

        <div class="text-left">
          <h5>
          <p class="card-test"><strong>Description: </strong>{{productInfo.productDescription}}</p></h5>

          <h5>
          <p class="card-text"><strong>Price: </strong>{{productInfo.productPrice | currency}}</p>
          </h5>

          <h5>
          <p class="card-text"><strong>Stock: </strong>{{productInfo.productStock}}</p>
        </h5>
        </div>
        <br>
        <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock"
           class="btn btn-primary btn-lg"
        >Get It!</a>
        <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
      </div>
    </div>
  </div>
</div>
<app-pagination  [currentPage]="page" ></app-pagination>
